<div class="container">
 <div class="row">
  <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">

   <h2>Editing Book</h2>
   <% if @user.errors.any? %>
     <%= @user.errors.count %>errors prohibited this obj from being saved:
     <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
     </ul>
   <% end %>

   <%= form_with model: @user, url: '/edit', method: :post do |f| %>

     <h4>Title</h4>
     <br/>
       <%= f.text_field :title %> <!--autofocus: true, id:"inputTitle-->

     <br/>
     <h4>Opinion</h4>

     <br/>
     <%= f.text_field :Opinion %> <!--autofocus: true, id:"inputOpinion" -->

     <br/>
     <%= link_to 'Update Book', update_book_path, class: "btn btn-secondary" %>

    <%= link_to 'Show', book_path(@book.id) %>
    |
    <%= link_to 'Back', books_path %>

   <% end %>

  </div>
 </div>
</div>
